* {
    /* This selector will select all the elements on the page */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    font-size: 18px;
}

.my-container {
    width: 1140px;
    /* To Center the div*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

    /* The margin settings can be consolidated into a single property*/
    /* margin: top right bottom left */
    margin: 20px auto 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.blog-posts {
    background-color: lightblue;
    width: 70%;
    float: left;
    padding-right: 30px;
}

.blog-post {
    position: relative;
}

.linked-posts {
    background-color: lightcoral;
    width: 30%;
    float: left;
}

.other {
    margin-bottom: 40px;
}

.author-details {
    background-color: lightgreen;
}

.author-details a {
    color: violet;
}

h1, h2 {
    color: green;
}

h1 {
    font-size: 40px;
    /*  Adding margins  */
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

#author-name {
    font-size: 20px;
}

.date {
    position: absolute;
    top: 0; /* it is right at the top, with 0px between the top of the parent container and the element */
    right: 0; /* there is no distance between the right side of the parent container and this element */
}

/* If you were resizing images, make sure you change either only the height or only the width
   property so that the aspect ratio of the image is preserved. */
img {
    height: 100px;
    width: auto;
}
