/* ******************************************************************************************************************  */
/* BASIC SETUP */
/* ******************************************************************************************************************  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Set background color of the page to white*/
    background-color: #ffffff;
    /* Set text-color of the entire page*/
    color: #555;
    /* Set the font of the page to the font that we downloaded */
    /* If Roboto is not found on the client, Arial will be used, if Arial is not found,
    we use the default sans-serif that is found */
    font-family: 'Roboto', 'Arial', sans-serif;
    /* We have included family=Roboto:400,500,700 fontweights in our header*/
    /* Hence we can use one of the weights as our default fontweight*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* ******************************************************************************************************************  */
/* REUSABLE COMPONENTS */
/* ******************************************************************************************************************  */

.row {
    width: 1140px;
    /* Shorthand for margin: 0 auto 0 auto*/
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ******************************************************************************************************************  */
/* PARAGRAPHS */
/* ******************************************************************************************************************  */

.long-copy {
    line-height: 145%;
    /* This is another way to center a div */
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}
/* ******************************************************************************************************************  */
/* HEADER */
/* ******************************************************************************************************************  */


header {
    /* Use a background image for the header element*/
    /* Make the background image darker by adding a black gradient on top of the image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Center the div */
.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ******************************************************************************************************************  */
/* MEALS IMAGES SHOWCASE */
/* ******************************************************************************************************************  */

.section-meals {
    padding: 0;
    background-color: #000000;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    /* To prevent the images from overflowing the parent container when we set the scale of the images to 115%*/
    overflow: hidden;
    opacity: 0.7;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    /* We are increasing the size of the image. We want the image to be 115% */
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* ******************************************************************************************************************  */
/* HEADINGS */
/* ******************************************************************************************************************  */

/* normalize.css introduces a margin for the h2 element. Removing that margin. */

/* Remember, common properties for both h1 and h2 go here */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

/* These properties will be applied ONLY to h1 */
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* These properties will be applied ONLY to h2 */
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* Using a pseudo element to add text after an element */
h2:after {
    display: block;
    /* Height of the liner */
    height: 2px;
    /* Color of the liner */
    background-color: #e67e22;
    /* There should be no content. This is a required property *
    Irrespective of whether or not you are adding text content to the pseudo element */
    content: "";
    /* Horizontal width of the line */
    width: 100px;
    /* And we want to add some space between the line and the surrounding elements */
    /* And we want to center the line as well */
    margin: 30px auto 0 auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.logo {
    height: 100px;
    width: auto;
    /* Because we want the log to be on the left side */
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    /* Get rid of the bullet points that precede li elements*/
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
    padding-bottom: 5px;
    /* There should be a border, even if it's transparent,
    for a border to transition properly on hover */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ******************************************************************************************************************  */
/* BUTTONS */
/* ******************************************************************************************************************  */

.btn:link,
.btn:visited {
    display: inline-block;
    /* Shorthand for padding: 10px 30px 10px 30px*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e22;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.btn-full:link,
.btn-full:visited {
    color: #ffffff;
    background-color: #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

/* NOTE: If we move this style declaration before the btn-full decalration,
 the change does nto take effect */
.btn:hover,
.btn:active {
    background-color: #b05d14;
    border: 1px solid #b05d14;
}

/* Not only should the background color change,
but the border color should change as well*/
.btn-full:hover,
.btn-full:active {

}

.btn-ghost:hover,
.btn-ghost:active {
    color: #ffffff;
}
