/* ******************************************************************************************************************  */
/* BASIC SETUP */
/* ******************************************************************************************************************  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Set background color of the page to white*/
    background-color: #ffffff;
    /* Set text-color of the entire page*/
    color: #555;
    /* Set the font of the page to the font that we downloaded */
    /* If Roboto is not found on the client, Arial will be used, if Arial is not found,
    we use the default sans-serif that is found */
    font-family: 'Roboto', 'Arial', sans-serif;
    /* We have included family=Roboto:400,500,700 fontweights in our header*/
    /* Hence we can use one of the weights as our default fontweight*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ******************************************************************************************************************  */
/* REUSABLE COMPONENTS */
/* ******************************************************************************************************************  */

.row {
    width: 1140px;
    /* Shorthand for margin: 0 auto 0 auto*/
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ******************************************************************************************************************  */
/* PARAGRAPHS */
/* ******************************************************************************************************************  */

.long-copy {
    line-height: 145%;
    /* This is another way to center a div */
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

/* ******************************************************************************************************************  */
/* HEADER */
/* ******************************************************************************************************************  */


header {
    /* Use a background image for the header element*/
    /* Make the background image darker by adding a black gradient on top of the image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("imgs/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

/* Center the div */
.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ******************************************************************************************************************  */
/* MEALS IMAGES SHOWCASE */
/* ******************************************************************************************************************  */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    /* To prevent the images from overflowing the parent container when we set the scale of the images to 115%*/
    overflow: hidden;
    background-color: #000000;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
    /* BOOM! Just like that! The weird overlap error vanishes */
    overflow: hidden;
}

.meal-photo {
    width: 100%;
    margin: 0;
    /* We are increasing the size of the image. We want the image to be 115% */
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* ******************************************************************************************************************  */
/* HEADINGS */
/* ******************************************************************************************************************  */

/* normalize.css introduces a margin for the h2 element. Removing that margin. */

/* Remember, common properties for both h1 and h2 go here */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

/* These properties will be applied ONLY to h1 */
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

/* These properties will be applied ONLY to h2 */
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/* Using a pseudo element to add text after an element */
h2:after {
    display: block;
    /* Height of the liner */
    height: 2px;
    /* Color of the liner */
    background-color: #e67e22;
    /* There should be no content. This is a required property *
    Irrespective of whether or not you are adding text content to the pseudo element */
    content: "";
    /* Horizontal width of the line */
    width: 100px;
    /* And we want to add some space between the line and the surrounding elements */
    /* And we want to center the line as well */
    margin: 30px auto 0 auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.logo {
    height: 100px;
    width: auto;
    /* Because we want the log to be on the left side */
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    /* Get rid of the bullet points that precede li elements*/
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
    padding-bottom: 5px;
    /* There should be a border, even if it's transparent,
    for a border to transition properly on hover */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* ******************************************************************************************************************  */
/* BUTTONS */
/* ******************************************************************************************************************  */

.btn:link,
.btn:visited {
    display: inline-block;
    /* Shorthand for padding: 10px 30px 10px 30px*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #e67e22;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.btn-full:link,
.btn-full:visited {
    color: #ffffff;
    background-color: #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

/* NOTE: If we move this style declaration before the btn-full decalration,
 the change does nto take effect */
.btn:hover,
.btn:active {
    background-color: #b05d14;
    border: 1px solid #b05d14;
}

/* Not only should the background color change,
but the border color should change as well*/
.btn-full:hover,
.btn-full:active {

}

.btn-ghost:hover,
.btn-ghost:active {
    color: #ffffff;
}


/* ******************************************************************************************************************  */
/* STEPS TO SIGN UP FOR OUR APP Section */
/* ******************************************************************************************************************  */

.section-steps {
    background-color: #EBEBEB;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 5%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 5%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    /* We want to make the border of the number round */
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-right: 10px;
}

.btn-app img {
    height: 50px;
    width: auto;
}


/* ******************************************************************************************************************  */
/* WE ARE IN THESE CITIES SECTION */
/* ******************************************************************************************************************  */

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/* ******************************************************************************************************************  */
/* TESTIMONIALS SECTION */
/* ******************************************************************************************************************  */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("imgs/back-customers.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-size: 80%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before {
    /* Content to be added goes here */
    font-size: 400%;
    content: "\201C";
    display: block;
    position: absolute;
    top: 0;
    /* Pixels can be assigned -ve numbers as well.
    This just means it will move in the opposite direction. */
    left: -10px;
}

cite {
    margin-top: 25px;
    /* Because we want to introduce a line break beofre the image */
    display: block;
}

cite img {
    height: 50px;
    /* Makes the image round */
    border-radius: 50%;
    vertical-align: middle;
}

/* ******************************************************************************************************************  */
/* PRICING PLANS SECTION */
/* ******************************************************************************************************************  */

.section-plans {
    background-color: #EBEBEB;
}

.plan-box {
    /* Give it a different background color than the parent element */
    background-color: #ffffff;
    /* Give it some rounded corners */
    border-radius: 5px;
    width: 90%;
    /* Center the div because 5% is half of the remaining 10% after 90% div */
    margin-left: 5%;
    /* Adding box-shadow*/
    box-shadow: 0 2px 2px #e3e3e3;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price {
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    /* Consider a base font-size of 20px */
    /* In this case, the fontsize will not be the base size of 20px
    But instead will be 100% of  the font size of it's parent element
    which is 200% and hence the font-size over here will be 40px as well. */
    /* Hence we use 50%, because now the font-size will be 50% of the parent's
    40px which is back to 20% */
    font-size: 50%;
    /* And we want to set the font-weight back to it's original value as well since
    we are now decreasing the font-size*/
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    /* Remove the dots in the list */
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/* Horizontally Center the SignUp button within the div */
.plan-box div:last-child {
    text-align: center;
}





















