@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  /*padding: 1em;*/
}

.container{
  /* Styling of the div */
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  /*border-radius: 16px;*/

  /* How should the child divs of this div be styled */
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

/*************** PLAYER 1 DETAILS ***************/
.words-container{
  /* How should the child divs of this div be styled */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-right: 2em;
  padding-left: 2em;
}
.submit-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.7);
}
/*************** COMMON ELEMENTS DETAILS ***************/
.active {
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  opacity: 1;
  transition: all 0.1s;
}
.form-control {
  height: 48px;
}
.added-word {
  cursor: not-allowed;
}
#word-list-container .added-word {
  margin-bottom: 16px;
}
.btn {
  color: #444;
  border: none;
  font-family: inherit;
  /*font-size: 1.4rem;*/
  /*text-transform: uppercase;*/
  cursor: pointer;
  font-weight: 400;
  transition: all 0.4s;
  background: rgba(255, 255, 255, 0.6) none;
  backdrop-filter: blur(10px);

  padding: 0.75rem 1.5rem;
  /*border-radius: 75rem;*/
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:active {
  transform: translate(2%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: none;
}
.current {
  background-color: #c7365f;
  opacity: 0.8;
  /*border-radius: 5px;*/
  color: #fff;
  width: 65%;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.75rem;
  transition: all 0.75s;
}

/*!******************* HIDDEN CLASS *****************************!*/
.hidden {
  display: none;
}

/*!******************* ALERT STYLES *****************************!*/
.alert--container{
  margin: auto;
}

/*!******************* MEDIA QUERIES *****************************!*/
@media (max-width: 600px) {
  .game-container{
    grid-column: 1/4;
  }
  .btn{
    padding: 0.75rem 0.75rem;
  }
  .name{
    font-size: 2rem;
  }
  .current{
    width: 100%;
  }
}
