/*https://stackoverflow.com/a/56467997/8742428*/
/* Text disappearing behind nav-bar on clicking anchor elements */
html {
    scroll-padding-top: 75px; /* height of sticky header */
    font-size: 14px;
}

/*-- change navbar dropdown color --*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.container {
    margin-top: 30px;
    overflow-wrap: break-word;
}

.code-snippet {
    padding-top: 10px;
    display: none;
}

.one-point {
    padding-top: 10px;
    padding-bottom: 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    padding: 2px 5px;
    white-space: pre-wrap;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    background-color: #eff0f1;
    color: black;
}
