/*-- change navbar dropdown color --*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.container {
    margin-top: 30px;
    overflow-wrap: break-word;
}

.code-snippet {
    padding-top: 10px;
}

.one-point {
    padding-top: 10px;
    padding-bottom: 10px;
}
