@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Elsie+Swash+Caps&family=Chicle&family=Kranky&family=Milonga&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fireworks-container {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  /* Make the grid occupy the entire height of the viewport, but only 90% of it*/
  /* because the top part is occupied by the nav bar, and using 100 causes v-scrollbars to appear*/
  width: 100vw;
  height: 90vh;
  grid-template-columns: 1fr 6fr 1fr;

  /* CSS Style for fireworks */
  grid-template-rows: max-content 3fr 1fr max-content 1fr;

  /* CSS Style for no fireworks */
  /*grid-template-rows: max-content max-content 1fr max-content 2fr;*/
}

.hbd-text-container {
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Elsie Swash Caps', serif;
  font-size: 3vh;
}

.fireworks-container {
  grid-row: 2/3;
  grid-column: 1/4;
}
.fireworks-container canvas {
  background-color: black;
}

.search-bar-container {
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: center;
}

.body-text-container {
  grid-row: 4/5;
  grid-column: 2/3;
}

.footer-container {
  grid-row: 5/6;
  grid-column: 2/3;
  align-self: start;
}

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
}
