@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    /*width: 90%;*/
    /*height: 90%;*/
    /* Center the container*/
    /*margin: 5% auto 0 auto;*/
    /*display: grid;*/
    /*width: 90%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.game-container{
    /* Which rows does this div occupy relative to its parent div */
    grid-row: 2/3;
    grid-column: 2/3;

    /* Styling of the div */
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    /* How should the child divs of this div be styled */
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr;
    /*align-items: center;*/
    /*justify-items: center;*/
}

/*************** PLAYER 1 DETAILS ***************/
.player1--container{
    /* Which rows does this div occupy relative to its parent div */
    grid-row: 1/5;
    grid-column: 1/4;

    /* How should the child divs of this div be styled */
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}
.player1--name{
    grid-row: 1/2;
    grid-column: 2/3;
}
.player1--score{
    grid-row: 2/3;
    grid-column: 2/3;
}
.player1--buttons{
    grid-row: 3/4;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: stretch;
}
.player1--btn--rollDice{
    grid-row: 1/2;
    margin: auto;
}
.player1--btn--hold{
    margin: auto;
    grid-row: 2/3;
}
.player1--current{
    grid-row: 4/5;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.current-label-1{
    grid-row: 1/2;
}
.current-score-1{
    grid-row: 2/3;
}

/*************** PLAYER 2 DETAILS ***************/
.player2--container{
    /* Which rows does this div occupy relative to its parent div */
    grid-row: 1/5;
    grid-column: 4/7;

    /* How should the child divs of this div be styled */
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}
.player2--name{
    grid-row: 1/2;
    grid-column: 2/3;
}
.player2--score{
    grid-row: 2/3;
    grid-column: 2/3;
}
.player2--buttons{
    grid-row: 3/4;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: stretch;
}
.player2--btn--rollDice{
    grid-row: 1/2;
    margin: auto;
}
.player2--btn--hold{
    grid-row: 2/3;
    margin: auto;
}
.player2--current{
    grid-row: 4/5;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.current-label-2{
    grid-row: 1/2;
}
.current-score-2{
    grid-row: 2/3;
}
/*************** COMMON BUTTONS DETAILS ***************/
.btn--createGame{
    grid-row: 1/2;
    grid-column: 3/5;
    margin: auto;
}
.btn--showOpenGames{
    grid-row: 2/3;
    grid-column: 3/5;
    margin: auto;
}

/*************** DICE DETAILS ***************/
.dice{
    grid-row: 3/4;
    grid-column: 3/5;
    /*Stop the image from overflowing the width of the grid container*/
    /*https://stackoverflow.com/questions/46090760/controlling-the-size-of-an-image-within-a-css-grid-layout*/
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    align-self: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    /*Remove the white border at the bottom of the image when using box-shadow*/
    /* https://stackoverflow.com/a/7002035/8742428 */
    display: block;
}

/*************** COMMON ELEMENTS DETAILS ***************/
.btn {
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    /*text-transform: uppercase;*/
    cursor: pointer;
    font-weight: 400;
    transition: all 0.4s;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.75rem 3rem;
    border-radius: 75rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active {
    transform: translate(2%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
    outline: none;
}
.name {
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}
.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
    font-weight: 700;
}
.player--active .score {
    font-weight: 400;
}
.player--active .current {
    opacity: 1;
}
.current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    font-size: 1.75rem;
    transition: all 0.75s;
}
.player--winner {
    background-color: #2f2f2f;
}
.player--winner .name {
    font-weight: 700;
    color: #c7365f;
}

/*!******************* OVERLAY STYLES *****************************!*/
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.8rem;
    color: white;
    transform: translate(-50%,-50%);
    /*-ms-transform: translate(-50%,-50%);*/
}