@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #333;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    /*width: 90%;*/
    /*height: 90%;*/
    /* Center the container*/
    /*margin: 5% auto 0 auto;*/
    /*display: grid;*/
    /*width: 90%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.game-container{
    /* Which rows does this div occupy relative to its parent div */
    grid-row: 2/3;
    grid-column: 2/3;

    /* Styling of the div */
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    /*border-radius: 9px;*/

    /* How should the child divs of this div be styled */
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr;
    /*align-items: center;*/
    /*justify-items: center;*/
}

/*************** PLAYER 1 DETAILS ***************/
.letters--container{
    /* Which rows does this div occupy relative to its parent div */
    grid-row: 1/5;
    grid-column: 1/4;

    /* How should the child divs of this div be styled */
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}
.player1--name{
    grid-row: 1/2;
    grid-column: 2/3;
}
.player1--score{
    grid-row: 2/3;
    grid-column: 2/3;
}
.player1--buttons{
    grid-row: 3/4;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: stretch;
}
.player1--btn--rollDice{
    grid-row: 1/2;
    margin: auto;
}
.player1--btn--hold{
    margin: auto;
    grid-row: 2/3;
}
.player1--current{
    grid-row: 4/5;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    /*align-self: stretch;*/
    /*align-items: center;*/
    /*justify-items: center;*/
}
.current-label-1{
    grid-row: 1/2;
    align-self: end;
    /*margin: auto;*/
}
.current-score-1{
    grid-row: 2/3;
    align-self: start;
}

/*************** PLAYER 2 DETAILS ***************/
.player2--container{
    /* Which rows does this div occupy relative to its parent div */
    grid-row: 1/5;
    grid-column: 4/7;

    /* How should the child divs of this div be styled */
    display: grid;
    grid-template-rows: 2fr 2fr 4fr 2fr;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}
.player2--name{
    grid-row: 1/2;
    grid-column: 2/3;
}
.player2--score{
    grid-row: 2/3;
    grid-column: 2/3;
}
.player2--buttons{
    grid-row: 3/4;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: stretch;
}
.player2--btn--rollDice{
    grid-row: 1/2;
    margin: auto;
}
.player2--btn--hold{
    grid-row: 2/3;
    margin: auto;
}
.player2--current{
    grid-row: 4/5;
    grid-column: 2/3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    /*align-items: center;*/
    /*justify-items: center;*/
}
.current-label-2{
    align-self: end;
    grid-row: 1/2;
}
.current-score-2{
    grid-row: 2/3;
}
/*************** COMMON BUTTONS DETAILS ***************/
.btn--createGame{
    grid-row: 1/2;
    grid-column: 3/5;
    margin: auto;
}
.btn--showOpenGames{
    grid-row: 2/3;
    grid-column: 3/5;
    margin: auto;
}

.btn--challengeMe{
    grid-row: 3/4;
    grid-column: 3/5;
    margin: auto;
}

/*************** DICE DETAILS ***************/
.dice-container{
    grid-row: 3/4;
    grid-column: 3/5;

    align-self: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    transition: all 0.75s;
}
.dice{
    /* Stop the image from overflowing the width of the grid container */
    /* https://stackoverflow.com/questions/46090760/controlling-the-size-of-an-image-within-a-css-grid-layout */
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    /* Remove the white border at the bottom of the image when using box-shadow */
    /* https://stackoverflow.com/a/7002035/8742428 */
    display: block;
}

/*************** COMMON ELEMENTS DETAILS ***************/
.btn {
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.4rem;
    /*text-transform: uppercase;*/
    cursor: pointer;
    font-weight: 400;
    transition: all 0.4s;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.75rem 1.5rem;
    /*border-radius: 75rem;*/
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active {
    transform: translate(2%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
    outline: none;
}

.name {
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.score {
    font-size: 8rem;
    font-weight: 300;
    color: #c7365f;
    margin-bottom: auto;
}

.current-label {
    text-transform: uppercase;
    color: #ddd;
}

.current-score {
    font-size: 3rem;
}

.player {
    transition: all 0.75s;
}
.player--active {
    background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
    font-weight: 700;
}
.player--active .score {
    font-weight: 400;
}
.player--active .current {
    opacity: 1;
}
.current {
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 5px;
    color: #fff;
    width: 65%;
    padding-bottom: 0.5rem;
    text-align: center;
    font-size: 1.75rem;
    transition: all 0.75s;
}
.player--winner {
    background-color: #2f2f2f;
}
.player--winner .name {
    font-weight: 700;
    color: #c7365f;
}

/*!******************* SHOW OPEN GAMES OVERLAY STYLES *****************************!*/
.overlay{
    grid-row: 1/5;
    grid-column: 1/7;
    z-index: 2;
    color: white;
    display: grid;
    font-size: 1.75rem;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: rgba(0,0,0,0.85);
    /* transition property does not work with display property*/
    /* https://stackoverflow.com/questions/22103006/css3-transition-doesnt-work-with-display-property */
    /*transition: all 3s;*/
}
#select-open-games-form{
    grid-row: 1/4;
    grid-column: 1/4;

    display: grid;
    grid-template-rows: minmax(75px,auto) min-content 1fr;
    grid-template-columns: 1fr 8fr 1fr;
}
.open-games-text{
    grid-row: 1/2;
    grid-column: 2/3;
    place-self: center;
}
.open-games-close-overlay-btn{
    grid-row: 1/2;
    grid-column: 3/4;
    place-self: center;
    color: white;
    font-size: 3.5rem;
}
.open-games-close-overlay-btn:hover{
    color: white;
}
#open-games-container{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
}
.open-games-submit-button{
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: start;
    justify-self: center;
}
/*!******************* SHOW SETTINGS PAGE OVERLAY STYLES *****************************!*/
.settings{

}
#select-target-score-form{
    grid-row: 1/4;
    grid-column: 1/4;

    display: grid;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}
.settings-close-overlay-btn{
    grid-row: 1/2;
    grid-column: 4/5;
    place-self: center;
    color: white;
    font-size: 3.5rem;
}
.select-target-score-text{
    grid-row: 2/3;
    grid-column: 2/3;
    place-self: center;
}
.select-target-score-value{
    grid-row: 2/3;
    grid-column: 3/4;
    place-self: center;
}
.select-target-score-submit-button{
    grid-row: 3/4;
    grid-column: 2/4;
    align-self: start;
    justify-self: center;
}
.settings-close-overlay-btn:hover{
    color: white;
}
/*!******************* HIDDEN CLASS *****************************!*/
.hidden {
    display: none;
}

/*!******************* ALERT STYLES *****************************!*/
.alert--container{
    grid-row: 1/2;
    grid-column: 2/3;
    margin: auto;
    font-size: 1.5rem;
}

/*!******************* SETTINGS STYLES *****************************!*/
.settings-icon-container{
    grid-row: 1/2;
    grid-column: 3/4;
    font-size: 1.5rem;
    place-self: center;
}
.btn-settings{
    padding: 0.75rem 0.75rem;
}

/*!******************* MEDIA QUERIES *****************************!*/
@media (max-width: 600px) {
    .game-container{
        grid-column: 1/4;
    }
    .btn{
        padding: 0.75rem 0.75rem;
    }
    .name{
        font-size: 2rem;
    }
    .current{
        width: 100%;
    }
}