/*https://stackoverflow.com/a/56467997/8742428*/
/* Text disappearing behind nav-bar on clicking anchor elements */
html {
    scroll-padding-top: 75px; /* height of sticky header */
    font-size: 14px;
}

/*-- change navbar dropdown color --*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.container {
    margin-top: 30px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
