.single-word-container {
  margin-bottom: 8px;
}

.hidden {
  background: #4f4f4f;
  color: transparent;
}

.answer {
  transition:  background 0.5s, color 0.5s;
}

#show-all-words-button, #hide-all-words-button {
  margin-top: 8px;
}
