.single-word-container {
  margin-bottom: 8px;
}

.hidden {
  background: #4f4f4f;
  color: transparent;
}

.answer {
  transition:  background 0.5s, color 0.5s;
}

.words-button-container {
  margin-bottom: 8px;
  margin-top: 8px;
}

.app-button {
  margin-bottom: 8px;
  margin-right: 8px;
}

.top-icon {
  background: white;
  border: 1px solid black;
  bottom: 5%;
  cursor: pointer;
  position: fixed;
  right: 5%;
}

.non-breaking-word {
  display: inline-block;
  margin-bottom: 0;
}
