.single-word-container {
  margin-bottom: 8px;
}

.hidden {
  background: #4f4f4f;
  color: transparent;
}

.answer {
  transition:  background 0.5s, color 0.5s;
}

.words-button-container {
  margin-bottom: 8px;
  margin-top: 8px;
}
