.hidden {
	display: none;
}

.overlay {
	/* To prevent the overlay from occupying
	 only the top portion of the screen */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	/* Because the navbar already has a z-axis f 1030 */
	z-index: 1035;
}

.my-modal {
	position: fixed;
	/*align-self: center;*/
	top: 2.5%;
	left: 12.5%;
	/*right: 5%;*/
	/*transform: translate(-50%, -50%);*/
	width: 75%;
	/*background-color: white;*/
	padding-bottom: 2.5%;
	/*border-radius: 5px;*/
	/*box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);*/
	z-index: 1040;
	/* To add the scrollbar to images in y-axis*/
	max-height: 100%;
	overflow-y:auto;
	outline: 0;
}

.my-modal-fade{
	/*transition: -webkit-transform 0.3s ease-out;*/
	/*transition: transform 0.3s ease-out;*/
	/*transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;*/
	/*-webkit-transform: translate(0, -15%);*/
	/*transform: translate(0%, 0%);*/
}

#full-image {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	/*align-self: auto;*/
}

.close-modal {
	position: absolute;
	top: 1.2rem;
	right: 2rem;
	font-size: 5rem;
	color: #333;
	cursor: pointer;
	border: none;
	background: none;
}

/*.opt-img {*/
/*	filter: blur(1px);*/
/*}*/

body{
	padding-top: 70px;
}

.jumbotron{
	color: black;
	/*background: black;*/
}

.navbar-dark .navbar-brand {
    color: red;
}

.my-img{
	padding-top: 10px;
	padding-bottom: 14px;
	transition: 0.3s;
}

.my-img:hover{
	opacity: 0.7;
}


#home_link:hover{
	color: red;
}

#insta_link:hover{
	color: red;
}

#fb_link:hover{
	color: red;
}

#register_link:hover{
	color: red;
}

#login_link:hover{
	color: red;
}




