@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  /*width: 90%;*/
  /*height: 90%;*/
  /* Center the container*/
  /*margin: 5% auto 0 auto;*/
  /*display: grid;*/
  /*width: 90%;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.container{
  /* Which rows does this div occupy relative to its parent div */
  grid-column: 1/3;

  /* Styling of the div */
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  /*border-radius: 9px;*/

  /* How should the child divs of this div be styled */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*align-items: center;*/
  /*justify-items: center;*/
}

/*************** PLAYER 1 DETAILS ***************/
.player1--container{
  grid-column: 1/2;

  /* How should the child divs of this div be styled */
  display: grid;
  align-items: center;
}
.player1--name{}

/*************** PLAYER 2 DETAILS ***************/
.player2--container{
  grid-column: 2/3;

  /* How should the child divs of this div be styled */
  display: grid;
  align-items: center;
}
.player2--name{}

/*************** COMMON ELEMENTS DETAILS ***************/
.btn {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  /*text-transform: uppercase;*/
  cursor: pointer;
  font-weight: 400;
  transition: all 0.4s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.75rem 1.5rem;
  /*border-radius: 75rem;*/
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:active {
  transform: translate(2%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: none;
}
.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}
.player--active .current {
  opacity: 1;
}
.current {
  background-color: #c7365f;
  opacity: 0.8;
  /*border-radius: 5px;*/
  color: #fff;
  width: 65%;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.75rem;
  transition: all 0.75s;
}

/*!******************* HIDDEN CLASS *****************************!*/
.hidden {
  display: none;
}

/*!******************* ALERT STYLES *****************************!*/
.alert--container{
  grid-row: 1/2;
  grid-column: 2/3;
  margin: auto;
  font-size: 1.5rem;
}

/*!******************* MEDIA QUERIES *****************************!*/
@media (max-width: 600px) {
  .game-container{
    grid-column: 1/4;
  }
  .btn{
    padding: 0.75rem 0.75rem;
  }
  .name{
    font-size: 2rem;
  }
  .current{
    width: 100%;
  }
}
